<div class="card-container">
  <div class="card">

    <%= image_tag @user.avatar, class: " rounded mx-auto d-block", style: "max-height: 20%; max-width: 20%; margin: 10px%" %>

    <p class="card-title">Email:<%= @user.email %></p>
    <p class="card-title">Name:<%= @user.name %></p>
    <p class="card-title">Surname:<%= @user.surname %></p>
    <p class="card-title">Nickname:<%= @user.nickname %></p>

    <%= link_to "Update Account", edit_user_path(@user) %>
  </div>
</div>
