<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= @article.title %>
  </title>
</head>
<body>
<h4><%= link_to 'Back to the main page', news_index_url %></h4>
<h2><%= @article.title %></h2>
<h3><%= @article.body %></h3>
<br>
<ul>
  <li><%= link_to "Edit", edit_news_path(@article) %></li>
  <li><%= link_to "Delete", news_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>
</body>
</html>