<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= @news.title %>
  </title>
</head>
<body>
<h4><%= link_to 'Back to the main page', news_index_url %></h4>
<h2><%= @news.title %></h2>
<h3><%= @news.body %></h3>
<br>
<p><%= link_to 'Delete news' %></p>
</body>
</html>