<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>NewsPortal</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<header>
  <nav class="navbar navbar-expand-lg bg-dark text-white">
      <%= link_to 'NewsArticles', news_articles_url, class: 'navbar-brand' %>


      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <% if user_signed_in? %>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-light ", role: "button" %>
        <% else %>
            <%= link_to 'Sign in', new_user_session_url, class: "btn btn-danger text-white ", role: "button" %>
        <% end %>
      </div>

  </nav>
</header>

<div class="">

</div>

<%= yield %>
</body>
</html>
